{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" href="{% static 'css/images.css' %}">
</head>
<body>
  <div class="landing-page">
    <header>
        <div class="container">
          <a href="/" class="logo">ASCII <b>Website</b></a>
          <ul class="links">
            <li>Home</li>
            <li>About Us</li>
            <li>Work</li>
            <li>Info</li>
            <li>IMAGE TO ASCII</li>
          </ul>
        </div>
      </header></div>
    <div class="container">
        <div class="column">
            <p>The Image You Just Uploaded</p>
            <img src="{{ last_uploaded_image.my_image.url }}" alt="Uploaded Image" height="200px" width="'auto">
        </div>
        <div class="column">
            <p>Here's the Converted ASCII Character Image ~ You Can Copy It</p>
            {% if ascii_image_url %}
            <img src="{{ ascii_image_url }}" alt="ASCII Art Image" height="200px" width="'auto">
            {% endif %}
        </div>
    </div>
    <footer>
        <p>This is the footer</p>
    </footer>
</body>
</html>